<div class="list-controls" fxLayoutGap="10px">
  <a mat-raised-button color="primary" class="list-button" [routerLink]="['/ticket/new']">Add Ticket</a>
  <app-search class="list-search" ></app-search>
</div>
<div class="list-items-container">
  <mat-nav-list *ngIf="tickets$ | async as tickets; else loading">
    <a mat-list-item *ngFor="let ticket of tickets; let odd=odd;" [style.border-color]="odd? 'white':'transparent'"
      [routerLink]="['/ticket', ticket.id]">
      {{ticket.id}} - {{ticket.description}}
    </a>
  </mat-nav-list>
  <ng-template #loading>
    <div class="loading">
      Please wait. Loading Tickets...
      <br><br>
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
