<form [formGroup]="form" class="list-item" (ngSubmit)="onSubmit(form.value)">
  <mat-form-field appearance="standard">
    <mat-label>Description</mat-label>
    <input matInput placeholder="Enter a description" formControlName="description" required minlength="3">
    <mat-hint>Keep it short & sweet!</mat-hint>
    <mat-error *ngIf="form.controls.description.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Assigned to</mat-label>
    <input matInput placeholder="Select a user" formControlName="assigneeId">
    <mat-hint>You can assign this later if you wish</mat-hint>
  </mat-form-field>
  <br>
  <mat-checkbox formControlName="completed">Ticket complete?</mat-checkbox>
</form>
<div class="item-controls" fxLayoutGap="10px">
  <button mat-raised-button color="primary" class="" type="submit" [disabled]="!form.valid" (click)="onSubmit(form.value)">Save Ticket</button>
  <button mat-raised-button color="warn" class="" type="button">Delete Ticket</button>
</div>
