/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  color: black;
  background: #c3c2b5;
}
.list-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 480px;
  padding: 20px 0;
}
.list-button {
  flex: 1;
}
.list-search {
  flex: 4;
}
.list-items-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}
.item-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 480px;
  padding: 20px 0;
}
.mat-form-field {
  padding: 10px 0;
}
